.container {
  padding: 0 100px;
  display: flex;
  justify-content: flex-start;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  background: #f6f6f6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  padding: 0 40px;
  margin: 0 100px;
}

.btn {
  width: 259px;
  height: 52px;
  background: #000000;
  border-radius: 2px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.content {
  padding-left: 96px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 85px;
}

.category {
  font-size: 16px;
  line-height: 24px;
}

.name {
  font-weight: bold;
  font-size: 50px;
  line-height: 75px;
  margin: 0;
}

.description {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}
